.spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner:hover {
    cursor: pointer;
}

.galeria {
    display: flex;
    gap: 4px;
}

.img {
    height: 200px;
    border-radius: 4px;
    padding: 8px;
    background-color: white;
    transition: 0.4s ease-in-out;
    flex: 1px;
}

.img:hover {
    height: auto;
    flex: 3;
    cursor: pointer;
}

