/* estilos del head */

/* creamos latipografia */

@font-face{
	font-family: 'personal';
	src: url(../fuentes/Mollen-Personal-Use-Regular.otf);
}

/* aplicamos la tipografia a todo */

*{
	font-family: 'personal';
}

/* quitamos los margenes del body */

body { 
	margin: 0;
	background-image: url(../imagenes/fondo_body.svg);
}

/* tamaño del logo */

.logo { 
	width: 80px;
	padding-top: 5px;
}

header { 
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
	background-color: #faedfd;
	background-image: url(../imagenes/fondo_head.svg);
	border-bottom: 3px inset #fe13a3;
	font-weight: bold;
	position: fixed;
	z-index: 2;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav ul a{
	text-decoration: none;
	color: #232323;
}

.flotador-izquierdo{
	float: left;
}

.flotador-derecho{
	float: right;
}

.borde-imagen {
	width: 100%;
	background-color: #9FC7AA;
	padding: 2% 0% 1.5% 0%;
}

/* lo siguiente es para la animacion de los links */
/* los del head */
nav li {
	font-weight: bold;
	padding: 20px 20px;
	margin: 0px;
	position: relative;
	transition: 0.3s ease all;
	z-index: 1;
  }

  
  
nav li:before {
	transition: 0.7s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #FF0072;
	z-index: -1;
  }
  
nav li:hover, nav li:focus {
	color: white;
  }
  
nav li:hover:before, nav li:focus:before {
	transition: 1s all ease;
	left: 0;
	right: 0;
	opacity: 1;
  }

  /* los de las noticias */

.boton-noticia {
	font-weight: bold;
	padding: 20px 20px;
	margin: 0px;
	position: relative;
	transition: 0.1s ease all;
	z-index: 1;
  }

.boton-noticia:before {
	transition: 0.7s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #FF0072;
	z-index: -1;
	border-radius: 10px;
  }
  
.boton-noticia:hover, .boton-noticia:focus {
	color: white;
  }
  
.boton-noticia:hover::before, .boton-noticia:focus::before {
	transition: .5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
  }

  /* en el boton de contcato */

  .boton-formulario:hover {
	background-color: #FF0072;
	color: white;
  }



/* estilos de laseccion de noticias */

.titulo-seccion{
	width: 50%;
	padding: .1% 0%;
	margin: 0% 25%;
	text-align: center;
	background-color: #ffffff05;
	backdrop-filter: blur(5px);	
} 

.seccion-noticias{
	width: 80%;
	padding: 2% 10%;
}

.noticia-individual{
	width: 30%;
	height: 500px;
	background-color: #faedfd;
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	margin: 10px;
	text-align: justify;
	padding-bottom: 1%;
	float: left;
}

.imagen-noticia{
	width:100%;
	height: 180px;
	background-size: cover;
	border-radius: 10px 10px 0px 0px;
}

.titulo-noticia{
	padding: 1% 5%;
}

.resumen-noticia{
	padding: 1% 5%;
}

.boton-noticia{
	background-color: #dfc9c3;
	text-decoration: none;
	color: #232323;
	text-align: center;
	display: block;
	padding: 2% 0;
	margin: 0 5%;
	border-radius: 10px;
}

/* rompemos el flotador para seguir insertando cosas despues de las noticias */

.romper-float {
	clear: both;
}

/* area decontacto */

.contenedor-contacto{
	width: 100%;
	height: 650px;
	background: url(../imagenes/fondo_contacto.svg);
	background-size: cover;
}

.form{
	width: 30%;
	float: right;
	margin-top: 50px;
	margin-right: 15%;
}

.nombre-formulario{
	display: block;
	color: black;
	font-weight: bolder;
}

.entrada-formulario{
	background-color: faedfd;
	border: none;
	outline: none;
	border-bottom: 2px solid #dfc9c3;
	width: 94%;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 0px 0px 10px 10px;
}

textarea{
	min-width: 94%;
	max-width: 94%;
	max-height: 40px;
	min-height: 20px;
}

.boton-formulario{
	outline: none;
	transition: background-color .5s ease-in-out;
	background: #c6aca5;
	border: none;
	padding: 10px;
	cursor: pointer;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	font-weight: bolder;
	font-size: large;
}

/* estilos del pie de la pagina */

.logo-pie { 
	width: 210px;
}

figure{
	display: flex;
	justify-content: center;
}

.contenedor-pie-pagina{
	width: 100%;
	display: grid;
	grid-template-columns:repeat(3, 1fr); 
	background-color: #FBECFF;
}

.pie{
	width: 89%;
	padding: 5% 5%;
}

.pie a { 
	text-decoration: none;
}

.redes-sociales { 
	width: 25px;
	height: 25px;
	border: solid 1px #000;
	padding: 10px;
	border-radius: 30px;
}

.redes-sociales:hover {
	background-color: #FF0072;
	color: white;
	width: 35px;
	height: 35px;
	transition: all .5s ease-in-out;
}

.pie-pagina-copyright{
	background-color: #FF0072;
	color: #000000;
	text-align: center;
	padding: 20px 20px;
	font-weight: bold;
}





