@font-face{
	font-family: 'personal';
	src: url(../fuentes/Mollen-Personal-Use-Regular.otf);
}

*{
	font-family: 'personal';
}

body { 
	margin: 0;
}

.logo { 
	width: 80px;
	padding-top: 5px;
}

header { 
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
	background-color: #faedfd;
	border-bottom: 3px inset #fe13a3;
	font-weight: bold;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav ul a{
	text-decoration: none;
	color: #232323;
}

.flotador-izquierdo{
	float: left;
}

.flotador-derecho{
	float: right;
}

.borde-imagen {
	width: 100%;
	background-color: #9FC7AA;
}

nav li {
	font-weight: bold;
	padding: 20px 20px;
	margin: 0px;
	position: relative;
	transition: 0.3s ease all;
	z-index: 1;
  }

  
  
  nav li:before {
	transition: 0.7s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #FF0072;
	z-index: -1;
  }
  
  nav li:hover, nav li:focus {
	color: white;
  }
  
  nav li:hover:before, nav li:focus:before {
	transition: 1s all ease;
	left: 0;
	right: 0;
	opacity: 1;
  }
  