/* estilos del head */

@font-face{
	font-family: 'personal';
	src: url(../fuentes/Mollen-Personal-Use-Regular.otf);
}

*{
	font-family: 'personal';
}

body { 
	margin: 0;
}

.logo { 
	width: 80px;
	padding-top: 5px;
}

header { 
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
	background-color: #faedfd;
	background-image: url(../imagenes/fondo_head.svg);
	border-bottom: 3px inset #fe13a3;
	font-weight: bold;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav ul a{
	text-decoration: none;
	color: #232323;
}

.flotador-izquierdo{
	float: left;
}

.flotador-derecho{
	float: right;
}

.borde-imagen {
	width: 100%;
	background-color: #9FC7AA;
}

/* lo siguiente es para la animacion de los links */

nav li {
	font-weight: bold;
	padding: 20px 20px;
	margin: 0px;
	position: relative;
	transition: 0.3s ease all;
	z-index: 1;
  }

  
  
nav li:before {
	transition: 0.7s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #FF0072;
	z-index: -1;
  }
  
nav li:hover, nav li:focus {
	color: white;
  }
  
nav li:hover:before, nav li:focus:before {
	transition: 1s all ease;
	left: 0;
	right: 0;
	opacity: 1;
  }

/* estilos de laseccion de noticias */

.titulo-seccion{
	width: 100%;
	padding-top: 2%;
	text-align: center;
} 

.seccion-noticias{
	width: 80%;
	padding: 2% 10%;
}

.noticia-individual{
	width: 30%;
	height: 500px;
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	margin: 10px;
	text-align: justify;
	padding-bottom: 1%;
	float: left;
}

.imagen-noticia{
	width:100%;
	height: 180px;
	background-size: cover;
	border-radius: 10px 10px 0px 0px;
}

.titulo-noticia{
	padding: 1% 5%;
}

.resumen-noticia{
	padding: 1% 5%;
}

.boton-noticia{
	background-color: #ffbb22;
	text-decoration: none;
	color: #232323;
	text-align: center;
	display: block;
	padding: 2% 0;
	margin: 0 5%;
	border-radius: 10px;
	
}